:required{
	background-color : pink;
}
	
fieldset{
	width : 70%;
	background-color : darkred ;
	color : black ;
	font-weight : bold ;
}
	
#formulaire{
	padding-left : 15%;
	margin-right : 15%;
	padding-top : 10px;
}
	
#titre{
	float : left;
	height : 1000%;
}

#tit{
	padding-right : 5%;
	padding-left : 1%;
}
	
#tit2{
	margin-left : 3% ;
}

div#entete{
	color : lightgrey;
	background-color : black;
	padding-top : 2%;
	padding-bottom : 2%;
	text-align : center;
}

div#menu{
	float : left;
	text-align : justify;
	margin-right : 5%;
	padding-right : 3%;
	height : 2000px;
	background-color : black ;
}

div#pied{
	color : white;
	background-color : black;
	margin-top : 5%;
	text-align : justify;
	padding-top : 0.1%;
	padding-bottom : 0.1%;
}

li.type{
	text-decoration : underline;
	font-size : 110%;
}

li.lita{
	margin-left : 15%;
}

li.menu :link{
	text-decoration : none;
	color : blue;
	overflow : visible;
}

li.menu :visited{
	text-decoration : none;
	color : orange;
	font-style : bold;
}

li.menu :hover{
	text-decoration : none;
	color : red;
}

div#corps{
	text-align : justify;
	margin-top : 2%;
	margin-left : 20%;
}

li.menu{
	list-style : none;
	padding-top : 15%;
}

li.pied{
	display : inline;
	padding-right : 15px;
	margin-left : 100px;
	color : white;
}

li.pied :link{
	text-decoration : none;
}

h1.titre{
	padding-bottom : 1%;
}


h2{
	padding-left : 20px;
	font-size : 22px;
}

p.Jeux{
	margin-left : 50%;
}

p.JeuxPlank{
	font-size : 20 px;
	font-family : Comic Sans MS
	text-decoration : underline;
}

.tab{
	margin-left : 50px;
}
