:required{
	background-color : pink;
	}
	
fieldset{
	width : 70%;
	background-color : darkred ;
	color : black ;
	font-weight : bold ;
	}
	
#formulaire{
	padding-left : 15%;
	margin-right : 15%;
	padding-top : 10px;
	}
	
#titre{
	float : left;
	height : 2000 px;
	}

#tit{
	padding : auto 5% auto 1% ;
	}
	
#tit2{

	margin-left : 3% ;
	}
	
div#entete{
	color : lightgrey;
	background-color : black;
	padding-top : 2%;
	padding-bottom : 2%;
	text-align : center;
}

div#menu{
	float : left;
	text-align : justify;
	margin-right : 3%;
	border-right : 3%;
	padding-right : 3%;
	height : 2000px;
	background-color : black ;
}

div#pied{
	color : darkblue;
	background-color : black;
	margin-top : 5%;
	padding-bottom : 1%;
	text-align : justify;
}

li.type{
	text-decoration : underline;
	font-size : 110%;
}

li.lita{
	margin-left : 15%;
}

li.menu :link{
	text-decoration : none;
	color : blue;
	overflow : visible;
}

li.menu :visited{
	text-decoration : none;
	color : orange;
}

li.menu :hover{
	text-decoration : none;
	color : red;
	font-size : 120%;
	font-weight : bold;
}

div#corps{
	text-align : justify;
	margin-right : 1%;
	margin-top : 2%;
}

li.menu{
	list-style : none;
	padding-top : 15%;
}

h1.titre{
	padding-bottom : 1%;
}

h2{
	padding-left : 20px;
	font-size : 22px;
}

.tab{
	margin-left : 50px;
}


